{% extends 'base.html' %}

{% block title %}
Current Listings
{% endblock %}

{% block content %}
<div class = "container" style = "margin: 2rem">
    <div class = "d-flex flex-row" style = "width: 100%">
        <div class = "col-3 card-header" style = "border-radius: 1rem; background-color: beige; margin: .5rem">
            <h4 class = 'fw-bold'>
                User Profile
            </h4>
        </div>
        <div class = "col-11 card-header" style = "border-radius: 1rem; background-color: beige; margin: .5rem"> 
            <h4 class = 'fw-bold'>
                Posts
            </h4>
        </div>
        <div class = "col-2 card-header" style = "border-radius: 1rem; background-color: beige; margin: .5rem;">
            <h4 class = 'fw-bold'>
                Create Post
            </h4>
        </div>
    </div>
</div>
{% endblock %}