<!doctype HTML>
<html lang="en">

<head>
	<!--Required meta tags -->
	<meta charset="utf-8">
	<meta name = "viewport" content ="width=device-width, initial-scale = 1">
	
	<!-- CSS -->
	<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">

	<title>Navigation Bar Testing</title>

</head>

<body>

	<script src="https://unpkg.com/react@16.4.1/umd/react.production.min.js%22%3E"></script>
	<script src="https://unpkg.com/react-dom@16.4.1/umd/react-dom.production.min.js%22%3E"></script>
	<script src="App.js"></script>

</body>

</html>