<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="static/csspages/ratings.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>banana</title>
</head>
<body>
    <h1>stars</h1>
    <p>what will show on the profile page</p>
    <span class="fa fa-star fa-2x checked" value="1"></span>
    <span class="fa fa-star fa-2x checked" value="2"></span>
    <span class="fa fa-star fa-2x unchecked" value="3"></span>
    <span class="fa fa-star fa-2x unchecked" value="4"></span>
    <span class="fa fa-star fa-2x unchecked" value="5"></span>
    <div style="display:block;"></div>
    <hr />

    <p>hoverable and clickable</p>
    <div class="rating">
        <button class="star star-button fa fa-star fa-2x " id="first"></button>
        <button class="star star-button fa fa-star fa-2x " id="second"></button>
        <button class="star star-button fa fa-star fa-2x " id="third"></button>
        <button class="star star-button fa fa-star fa-2x " id="fourth"></button>
        <button class="star star-button fa fa-star fa-2x " id="fifth"></button>
    </div>
    <script src="static/jsfiles/stars.js"></script>
    <div style="display:block;"></div>
    <hr />
    <p>write a review button</p>
</body>
</html>