
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/csspages/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>DogGo! Login Page</title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container log-in-container">
            <form action="#">
                <h1>Register</h1>
                <span>     </span>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <a href="logintest">Already Have an Account?</a>
                <button>Register</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Get Started!</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam alias veritatis minus explicabo beatae aut nemo aliquid, necessitatibus commodi facilis doloribus corrupti iusto ad repellendus fuga qui possimus, officiis quibusdam.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

