<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="../static/csspages/systemmanual.css">
    <title>System Manual</title>
    {% include 'francisnavbar.html' %}
</head>
{% block content %}
<body>
    <div class = "maincontainer">
        <div class="innercontainer">

            <div class = "headertext">
                System Requirements
            </div>

            <hr class="breakerline">

            <div class="titles">
            To access our app, you must:
            </div>

            <ul>
                <li>Have a working device laptop or a desktop</li>
                <li>Have access to internet connection</li>
                <li>Be using a viable browser such as Chrome, Safari, Firefox, Opera</li>
            </ul>

            <hr class="breakerline">

            <div class="titles">
            Error messages you may encounter:
            </div>

            <ul>
                <li>"UnboundLocalError": You are not logged in</li>
                <li>Rated a user but rating didn't show up?: You are not logged in</li>
                <li>"Not Found Error": The page does not exist</li>
            </ul>
            
        </div>
    </div>
</body>
<script src="../static/jsfiles/rating.js"></script>
{% endblock %}
</html>