<h3 style = "display: flex; width: 50%; align-items: center; justify-content: space-between; border: 1px solid black; border-radius: .3rem; margin: 0;">
    <label style = " margin: 0 1rem 0 1rem; font-size: medium;">
         Select role:
         <select style = "margin: .2rem 0 .2rem 0; border-color: rgb(194, 191, 191); border-radius: .2rem;">
             <option value = "">Dog Owner</option>
             <option value = "">Dog Walker</option>
         </select>
    </label>
    <label style = "margin: 0 1rem 0 1rem; font-size: medium;"> 
         Select a filter:
         <select style = "margin: .2rem 0 .2rem 0; border-color: rgb(194, 191, 191); border-radius: .2rem;">
             <option value = "">By</option>
             <option value = "">By</option>
             <option value = "">By Date</option>
         </select>
    </label>
 </h3>