{% extends 'base.html' %}

{% block title %}
Current Listings
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/csspages/lv2.css">
<div class = "maincontainer">
    <div class = "user">
        <img class = "profilepic" src = "../static/pictures/blox.png">
        <div class = "username">
            {{username}} bbqw_ng
        </div>
        <div class = "userid">
            {{userID}} userid
        </div>
        <div class = "postbutton">
            <a href="/post"><button class="createbutton" type = "button">Create a Post!</button></a>
        </div>
    </div>
    <div class = "posts">
        a
    </div>
</div>
{% endblock %}