<link rel= "stylesheet" type= "text/css" href= "../static/csspages/profile.css">
{% include 'francisnavbar.html' %}



{% block content %}

<div class="user">
    <div class="user_container" id="user_profile">
        <img id="user_pic" src="{{profilePic}}" alt="Profile Picture">  <!-- Insert profile pic -->
        <script>
            var profilePic = '{{ session["profilePic"] }}'; //Im just passing this variable into javascript :) (this is the logged-in user's pfp)
        </script>
        <div id="user_info">
            <div id="user_name"><h1>{{username}}</h1></div> <!-- Insert name  -->
            <div id="user_id">@{{userID}}</div> <!-- Insert unique id or maybe delete idk :( -->
        </div>
    </div>
    <div class="user_container" id="user_tabs">
        <div><h5>Description</h5></div> <!--  -->
        <div><h5>Reviews</h5></div> <!-- In progress for CI 103 -->
    </div>
    <div class="user_container" id="user_description">This is my personal description!</div> <!-- Dyanamic or Static text -->
    <hr>
    <div class="user_container">
        <img class="dog_pic" src="{{gallery1}}" alt="Gallery Picture">
        <img class="dog_pic" src="{{gallery2}}" alt="Gallery Picture">
        <img class="dog_pic" src="{{gallery3}}" alt="Gallery Picture">
        <img class="dog_pic" src="{{gallery4}}" alt="Gallery Picture">
    </div> <!-- Pick few random photos from static folder -->
</div>

{% endblock %}