{% extends 'base.html' %}

{% block title %}
Search Manager
{% endblock %}

{% block content %}

<body class="bg-primary bg-light bg-gray">
    <div class="container my-5 shadow-lg p-3 mb-5 bg-white rounded">
        <form method="POST" class="form-post">
            <div class="card-header p-3 bg-white border-0">
                <h3 class="m fw-bold">Creating your Post...</h3>
            </div>

            <hr class="my-2" />

            <div class="col-md-8 px-5">
                <div class="h5 mb-3 mt-4">
                    <label for="title" class="form-label">
                        Title
                    </label>
                    {{form.title(class="form-control", id="title", placeholder="Give your post a classy title!", style="max-width: 1000px;")}}
                </div>

                <div class="h5 mb-3">
                    <label for="description" class="form-label">
                        Description
                    </label>
                    <textarea {{ form.description(type="text", rows="7", columns="50", class="form-control", id="description", placeholder="(e.g. I need my adorably lazy corgi to be walked on Sundays!)") }}</textarea>
                </div>

                <div class="h5 mb-5">
                    <label for="schedule" class="form-label">
                        Schedule
                    </label>
                    <p class="h6 text-muted"><em>Let others know about your availability.</em></p>
                    {{form.schedule(class="form-control", id="schedule", style="max-width: 330px;", placeholder="mm/dd/yyyy hh:mm - mm/dd/yyyy hh:mm")}}
                </div>

            </div>

            <hr class="my-2" />

            <div class="card-footer text-end py-4 px-5 bg-white border-0">
                <a href="/listings" class="btn btn-rounded" role="button" data-ripple-color="primary">Cancel</a>
                <button type="submit" class="btn btn-primary btn-rounded">Submit</button>
            </div>

        </form>

    </div>

</body>

{% endblock %}