{% extends 'base.html' %}

{% block title %}
Register Page
{% endblock %}

{% block register %}

    <body>
        <div class="container">
            <form method="POST" class="form-register" style="color:white">
                <h1 class="h3 mb-3 font-weight-normal">
                    Create your Account
                </h1>
                <h1>
                    {{ form.username.label() }}
                    {{ form.username(class="form-control", placeholder="User Name") }}

                    {{ form.password.label() }}
                    {{ form.password(class="form-control", placeholder="Password") }}

                    {{ form.passwordConfirm.label() }}
                    {{ form.passwordConfirm(class="form-control", placeholder="Confirm Password") }}

                    {{ form.email.label() }}
                    {{ form.email="form-control", placeholder="Email"}}
                </h1>
            </form>
           
        </div>

    </body>

{% endblock %}