*{
    font-family: 'Patua One', cursive;
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    0% {
        opacity: .3;
    }
    100%{
        opacity: 1;
    }
}

.bold{
    font-weight: bold !important;
    transition:all 50ms ease-in;
    transform: scale(1.1);
}

.filterbutton{
    border: 0;
    background-color: transparent;
    font-size: small;
}

.maincontainer{
    display:flex;
    flex-direction: row;
    width: auto;
    height: 93.9vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255, 0.849);
}

.leftsidebar{
    width: 20%;
}

.profileUsername{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: .25rem;
    border-radius: 1.5rem;
    margin: 1.5rem 3rem 1.5rem 3rem;
    color: rgb(56, 56, 56)
}

.profileZipcode{
    font-size: .8rem;
    margin: -1rem 0 0 8rem;
}

.profileicon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileicon > img{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    object-fit: fill;
    margin: 8.1rem 0 0 1rem;
}

.centercontainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.postheading{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: .25rem;
    border-radius: 1.5rem;
    width: 50rem;
    background-color: rgb(218, 218, 218);
    margin: 1.5rem 8rem 1.5rem 23rem;
    color: rgb(70, 70, 70)
}

.postcontainer{
    display:flex;
    width: 40rem;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin: -0.6rem 0 0.25rem 0.3rem;
    background-color: white;
}

.filter{
    display: flex;
    width: 26rem;
    height: 2.15rem;
    align-items: center;
    border: 1px solid black;
    border-radius: .3rem;
    margin: 0 10rem 0 10rem;
    flex-wrap: wrap;
}

.filter > label{
    margin: 0 .5rem 0 1rem;
    font-size: medium;
}

.filterbutton{
    margin: 0 0 0 .3rem
}

.postbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: .4rem;
    margin: 1rem 0 0 8rem;
    width: 8rem;
    background-color: rgb(46, 212, 96)
}

.postbutton:hover{
    transition: all 180ms ease-in;
    background-color: rgb(0, 255, 136);
}

.createbutton{
    font-size: medium;
    font-weight: 500;
    background-color: white;
    border: 0; 
    margin: .1rem;
    padding: .2rem;
    background-color: transparent;
}

.mainfunc{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    border: 2px solid rgb(209, 209, 209);
    margin: .5rem 1rem .8rem 1rem;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    overflow: auto;
}

.postblock{
    display: flex;
    flex-direction: column;
    margin: .6rem;
    height: 10rem;
    border: .5px solid rgb(187,192,190);
    border-radius: 4px;
    background-color: rgb(240,240,240);
    min-height: 8.5rem;
}

.header{
    display: flex;
    justify-content: space-between;
}

.username{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .2rem 0 0 .6rem;
    font-size: large;
    font-weight: 600;
}

.title{
    display:flex;
    justify-content: center;
    align-items: center;
}

.date{
    display:flex;
    font-size: small;
    height: 1rem;
    justify-content: center;
    align-items: center;
    margin: .2rem .5rem 0 0;
}

.date > div{
    font-weight: 100;
}

.description{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

.description > div {
    margin: .7rem .5rem 0 1.5rem;
}

.bottombar{
    display:flex;
    font-size: small;
    height: 1rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 .5rem .2rem 0;
}

.zipcode{
    margin: 0 0 0 .5rem;
}

