@font-face {
    font-family: 'semibold';
    src: url('./fonts/euclid_circular_b_semibold-webfont.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
  font-family: "semibold", sans-serif;
}

/*--------CSS FOR THE STATIC STARS----------*/

.ratingTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.goldenStaticStar{
    color: orange;
    width: 3rem;
    height: 3rem;
}

.staticStar{
    color: #d3d3d3;
    width: 3rem;
    height: 3rem;
}

#reviews{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---------------------------------------------*/

/*write a review button*/
#reviewButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 50%;
    margin: 1rem 0 0 6rem;
}
/*----------------The Comment Block-----------------*/
.commentBlock {
    display:flex;
    flex-direction:column;
    overflow: auto;
}

.commentBlock::-webkit-scrollbar{
    width: 10px;
}

.commentBlock::-webkit-scrollbar-thumb{
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
}

.block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: .5rem 1rem 0 1rem;
    border: 1px solid;
    border-color: black;
    min-height: 8.5rem;
    border-radius: 3px;
    background-color: ivory;
}

.goldenStaticStarComment::before{
    color: orange;
    font-size: 20px;
}

.staticStarComment::before{
    color: #d3d3d3;
    font-size: 20px;
}

.header{
    display:flex;
    margin: .3rem .5rem 0 .5rem;
}

.descriptionbox {
    height: 100%;
    width: 20rem;
    margin: .2rem .5rem 0 .8rem;
    font-size: 12px;
    overflow-wrap: break-word;
    font-weight: 200;
}

.headerStars{
    margin-left: 1.5rem;
}

.headerUsername{
    margin-left: .3rem;
}
/*--------------------------------------------------*/
.star-button {
    border: 0px;
    background-color: transparent;
    border-color: transparent;
    padding: 0 0 0 0;
    cursor: pointer;
}

.checked {
    color: orange;
}

.unchecked {
    color: #D3D3D3;
}

.ratings {
    color: #D3D3D3;
    transition: color 0.2s;
}

.star {
    color: #D3D3D3;
    transition: color 0.6s;
}

.star.gold {
    color: orange;
    transition: color 0.3s ease;
}

.rateMenu {
    background-color: mintcream;
    display: none;
    /*sizing*/
    width: 600px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 3;

    animation: expand 0.2s ease;
}


.editPicture {
    background-color: mintcream;
    display: none;
    /*sizing*/
    width: 600px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 3;
    animation: expand 0.2s ease;
}

@keyframes expand {
    0% {
        transform: translate(-50%, -50%) scale(0, 0);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(1, 1);
        opacity: 1;
    }
}



.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

/*--------CSS FOR RATING BOX----------*/
.rateTitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
  padding: .5rem 0 .5rem 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  background-color: darkseagreen;
}

.titleDivider{
  height: 1px;
  background: black;
  border-color: black;
  margin: 0;
}

.starRatings{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.starTitle{
  margin: 1.7rem 0 0 3rem;
  font-size: 25px;
}

.rating{
  margin: 1.7rem 0 0 3rem;
}

.commentTitle{
  margin: 1rem 0 0 3rem;
}

.commentBox{
  margin: 0.5rem 0 0 3rem;
  width: 31rem;
  height: 9rem;
}

textarea{
  resize: none;
  font-size: 16px;
  border-radius: 3px;
  border-color: gray;
  padding: 3px;
}
 
.buttons{
  display:flex;
  margin: 1rem 3.2rem 0 3rem;
  flex-direction: row;
  justify-content: space-between;
}

.closeButton {
    background: transparent;
    border: transparent;
    cursor: pointer;
}

.submitButton {
    cursor: pointer;
}

body {
    background-color: #FFFFF0;
}

#main_content{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.row{
    flex:1;
    background-color: #EFE7DA;
    margin:10px;
    box-shadow: 0 0 4px lightgrey;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

#row1{
    align-items: center;
    justify-content: space-between;
}

#row2{
    flex-grow: 1.1;
    flex-direction: column;
    display: flex;
}

#profile_pic{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
}


#profile_pic2 {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
}

    #profile_pic2:hover {
        filter: brightness(0.6);
        cursor: pointer;
    }

.green_box{
    background-color: #D1DED4;
    box-shadow: 0 0 4px lightgrey;
    margin:20px;
}

#profile_intro{
    text-align: center;
}

#profile_info{
    width: 70%;
}

#about_me_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

#about_me {
  flex: 1;
}

#gallery {
    flex-grow: 2;
}

#about_me_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#gallery_header {

}

#gallery_photos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gallery_pic {
    width: calc(25% - 20px); /* 25% width to fit four images */
    height: 200px; /* Adjust height as desired */
    padding: 10px;
    object-fit: cover;
}

.col{
    flex: 1;
    padding: 10px;
    background-color: #EFE7DA; /* Use the same background color as the row */
    margin: 10px;
    box-shadow: 0 0 4px lightgrey; /* Use the same box shadow as the row */
}

.button{
    background-color: #CD989E;
    border: none;
    box-shadow: 0 0 4px lightgrey;
}

.button:hover {
    background-color: #A67B80;
}

#submit_review{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.ratingTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.goldenStaticStar{
    color: orange
}

.staticStar{
    color: #d3d3d3
}