.star-button {
  border: 0px;
  background-color: transparent;
  border-color: transparent;
  padding: 0 0 0 0;
  cursor: pointer;
}

.checked {
  color: rgb(255, 222, 72);
}

.unchecked {
  color: #D3D3D3;
}

.ratings {
  color: #D3D3D3;
  transition: color 0.2s;
}

.star {
    color: gray;
    transition: color 0.6s;
}


.star.gold {
    color: gold;
    transition: color 0.3s ease;
}