#bg-video{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    filter: blur(3px) brightness(90%);
}

#register_box{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
    top: 30%;
    left: 30%;
    position: absolute;
}

.content {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-top: 10rem;
    margin-left: 50px;
}

.content h1{
    font-size: 50px;
    color: white;
    font-weight: 600;
    margin-bottom: 0px;;
    transition: 0.5s;
}

.content h1:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;   
}

.content h2{
    font-size: 75px;
    color: white;
    font-weight: 500;
    margin-bottom: 0px;
    transition: 0.5s;
    word-wrap: break-word;
    max-width: 70%;
}


.content h3{
    font-size: 20px;
    color: white;
    font-weight: 20;
    margin-top: 10px;
    margin-bottom: 20px;
    word-wrap: break-word;
    max-width: 50%;
}

.content button{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 30;
    border: 2px solid white;
    padding: 14px 70px;
    border-radius: 30px;
    margin-top: 0px;
    transition: 0.5s;
    width: 300px;
    height: 75px;
    background-color: transparent;
    position: relative;
}

.content button:hover{
    background-color: lightgrey;
}
