/* Theme of navbar */
:root {
    --bg: #ff0000;
    --bg-accent: #484a4d;
    --text-color: #000000;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

/* Unordered list */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Links text color */
a {
    color: var(--text-color);
    text-decoration: none;
}


/* Fixed sizing of navbar */
.navbar {
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border)
}


/* Navbar children starting on right-hand side */
.navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}